
@{ 
    ViewBag.Title = "Erreur";
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    <hgroup>
        <h2>Une erreur s'est produite lors du traitement de votre demande.</h2>
    </hgroup>
    @if (ViewBag.Error != null && ViewBag.Error != "")
    {
        <p>Description : @ViewBag.Error</p>
    }
</body>
</html>
